<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Aqui se agrega el bootstrap de las tablas-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel = "stylesheet" href = "../static/css/style.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Cambio de contraseña</title>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
      <div class="{{category}}">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
<body>
    <div class="header">
        <h1 class="titulo">GoGamblerGo</h1>
        <h2 class="subtitulo">Cambio de contraseña</h2>
        <h2 class="subtitulo2">Ingresa tus datos para poder cambiar tu contraseña</h2>
    </div>
    <section class="middle2">
        <form action="/recuperacion" class="formulario" autocomplete="off" method="POST">
            <ul>
                <li>
                    <label for="correo">Correo electrónico</label><br>
                    <input name="correo" class="campo" type="text" placeholder = "juanPerez@gmail.com" maxlength="40">
                </li>
                <li>
                    <label for="telefono">Telefono</label><br>
                    <input type="telefono" name="telefono" class="campo" placeholder = "3311967458" maxlength="10">
                </li>
                <li>
                    <label for="password">Nueva contraseña</label><br>
                    <input type="password" name="password" class="campo" placeholder = "Contraseña" pattern = "[a-zA-Z\d\w\s\D\W]{6-15}" autocomplete="new-password"  maxlength="20"><br>
                </li> 
            </ul>
                <button type="submit" class="boton3">Guardar contraseña</button>
        </form>
        <a href = "{{url_for('login')}}">
            <button class="boton" action = "{{url_for('login')}}">Volver</button>
        </a>
    </section>
    
</body>
</html>