<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Aqui se agrega el bootstrap de las tablas-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel = "stylesheet" href = "../static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/sl-1.5.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/sl-1.5.0/datatables.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Horarios</title>
</head>
<script type="text/javascript">
  var inicio = {{fechainicio}}
  var fin = {{fechafin}}
</script>
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
      <div class="{{category}}">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
<body onload="onload({{fechainicio}}, {{fechafin}})">
    <h1 class="titulo">GoGamblerGo</h1>
        <div class="resultados">
            <h1 class="titulo2">¡Gracias por participar en la aplicación de esta prueba!</h1>
            <h2 class="res">A continuación, se presentará una tabla en la que deberás marcar los días y horas en los que tienes disponibilidad para la aplicación de la prueba neuropsicológica. Ten en cuenta, que la duración promedio de la sesión es de 60 minutos. Registrada tu respuesta y teniendo en cuenta tus resultados, nos pondremos en contacto contigo, para formalizar la fecha y hora en la tendrá lugar la aplicación del experimento, junto con algunas indicaciones pertinentes para la aplicación de la prueba.</h2>
            <form action = "/resultados" id="formulario" autocomplete="off" method = "POST"> 
              <!-- <p>Simple table with header</p>
                <table>
                  <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                  </tr>
                  <tr>
                    <td>9:00 a.m.</td>
                  </tr>
                  <tr>
                    <td>10:00 a.m.</td>
                  </tr>
                  <tr>
                    <td>11:00 a.m.</td>
                  </tr>
                  <tr>
                    <td>12:00 p.m.</td>
                  </tr>
                  <tr>
                    <td>1:00 p.m.</td>
                  </tr>
                  <tr>
                    <td>2:00 p.m.</td>
                  </tr>
                  <tr>
                    <td>3:00 p.m.</td>
                  </tr>
                  <tr>
                    <td>4:00 p.m.</td>
                  </tr>                  
                  <tr>
                    <td>5:00 p.m.</td>
                  </tr>
                  <tr>
                    <td>6:00 p.m.</td>
                  </tr>
                </table>   
                 -->
                <h2 id="mesActual" style="text-align: center;"></h2>
                <table class = "table" id="TablaMes">
                  <tr>
                      <td class = "celltitle">Lunes</td>
                      <td class = "celltitle">Martes</td>
                      <td class = "celltitle">Miércoles</td>
                      <td class = "celltitle">Jueves</td>
                      <td class = "celltitle">Viernes</td>
                      <td class = "celltitle">Sabado</td>
                      <td class = "celltitle">Domingo</td>
                  </tr>
                  <!-- Semanas -->
                  <tr>
                    <td class = "cell" id="cell1"><a  onclick="colorearCelda('cell1', 'ch1', 'la1')"><label  for="ch1" id="la1">27</label><input id="ch1" type = "checkbox" class = "check" value = "L9" style="display: none;"></a></td>
                    <td class = "cell" id="cell2"><a  onclick="colorearCelda('cell2', 'ch2', 'la2')"><label  for="ch2" id="la2">27</label><input id="ch2" type = "checkbox" class = "check" value = "M9" style="display: none;"></a></td>
                    <td class = "cell" id="cell3"><a  onclick="colorearCelda('cell3', 'ch3', 'la3')"><label  for="ch3" id="la3">27</label><input id="ch3" type = "checkbox" class = "check" value = "I9" style="display: none;"></a></td>
                    <td class = "cell" id="cell4"><a  onclick="colorearCelda('cell4', 'ch4', 'la4')"><label  for="ch4" id="la4">27</label><input id="ch4" type = "checkbox" class = "check" value = "J9" style="display: none;"></a></td>
                    <td class = "cell" id="cell5"><a  onclick="colorearCelda('cell5', 'ch5', 'la5')"><label  for="ch5" id="la5">27</label><input id="ch5" type = "checkbox" class = "check" value = "V9" style="display: none;"></a></td>
                    <td class = "cell" id="cell6"><a  onclick="colorearCelda('cell6', 'ch6', 'la6')" disabled><label  for="ch6" id="la6">27</label><input id="ch6" type = "checkbox" class = "check" value = "L10" style="display: none;"></a></td>
                    <td class = "cell" id="cell7"><a  onclick="colorearCelda('cell7', 'ch7', 'la7')" disabled><label  for="ch7" id="la7">27</label><input id="ch7" type = "checkbox" class = "check" value = "M10" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell8"><a  onclick="colorearCelda('cell8', 'ch8', 'la8')"><label  for="ch8" id="la8">27</label><input id="ch8" type = "checkbox" class = "check" value = "I10" style="display: none;"></a></td>
                    <td class = "cell" id="cell9"><a  onclick="colorearCelda('cell9', 'ch9', 'la9')"><label  for="ch9" id="la9">27</label><input id="ch9" type = "checkbox" class = "check" value = "J10" style="display: none;"></a></td>
                    <td class = "cell" id="cell10"><a  onclick="colorearCelda('cell10', 'ch10', 'la10')"><label for="ch10" id="la10">27</label><input id="ch10" type = "checkbox" class = "check" value = "V10" style="display: none;"></a></td>
                    <td class = "cell" id="cell11"><a  onclick="colorearCelda('cell11', 'ch11', 'la11')"><label for="ch11" id="la11">27</label><input id="ch11" type = "checkbox" class = "check" value = "L11" style="display: none;"></a></td>
                    <td class = "cell" id="cell12"><a  onclick="colorearCelda('cell12', 'ch12', 'la12')"><label for="ch12" id="la12">27</label><input id="ch12" type = "checkbox" class = "check" value = "M11" style="display: none;"></a></td>
                    <td class = "cell" id="cell13"><a  onclick="colorearCelda('cell13', 'ch13', 'la13')" disabled><label for="ch13" id="la13">27</label><input id="ch13" type = "checkbox" class = "check" value = "I11" style="display: none;"></a></td>
                    <td class = "cell" id="cell14"><a  onclick="colorearCelda('cell14', 'ch14', 'la14')" disabled><label for="ch14" id="la14">27</label><input id="ch14" type = "checkbox" class = "check" value = "J11" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell15"><a  onclick="colorearCelda('cell15', 'ch15', 'la15')"><label for="ch15" id="la15">27</label><input id="ch15" type = "checkbox" class = "check" value = "V11" style="display: none;"></a></td>
                    <td class = "cell" id="cell16"><a  onclick="colorearCelda('cell16', 'ch16', 'la16')"><label for="ch16" id="la16">27</label><input id="ch16" type = "checkbox" class = "check" value = "L12" style="display: none;"></a></td>
                    <td class = "cell" id="cell17"><a  onclick="colorearCelda('cell17', 'ch17', 'la17')"><label for="ch17" id="la17">27</label><input id="ch17" type = "checkbox" class = "check" value = "M12" style="display: none;"></a></td>
                    <td class = "cell" id="cell18"><a  onclick="colorearCelda('cell18', 'ch18', 'la18')"><label for="ch18" id="la18">27</label><input id="ch18" type = "checkbox" class = "check" value = "I12" style="display: none;"></a></td>
                    <td class = "cell" id="cell19"><a  onclick="colorearCelda('cell19', 'ch19', 'la19')"><label for="ch19" id="la19">27</label><input id="ch19" type = "checkbox" class = "check" value = "J12" style="display: none;"></a></td>
                    <td class = "cell" id="cell20"><a  onclick="colorearCelda('cell20', 'ch20', 'la20')" disabled><label for="ch20" id="la20">27</label><input id="ch20" type = "checkbox" class = "check" value = "V12" style="display: none;"></a></td>
                    <td class = "cell" id="cell21"><a  onclick="colorearCelda('cell21', 'ch21', 'la21')" disabled><label for="ch21" id="la21">27</label><input id="ch21" type = "checkbox" class = "check" value = "L1" style="display: none;"></a></td>                    
                  </tr>
                  <tr>
                    <td class = "cell" id="cell22"><a  onclick="colorearCelda('cell22', 'ch22', 'la22')"><label for="ch22" id="la22">27</label><input id="ch22" type = "checkbox" class = "check" value = "M1" style="display: none;"></a></td>
                    <td class = "cell" id="cell23"><a  onclick="colorearCelda('cell23', 'ch23', 'la23')"><label for="ch23" id="la23">27</label><input id="ch23" type = "checkbox" class = "check" value = "I1" style="display: none;"></a></td>
                    <td class = "cell" id="cell24"><a  onclick="colorearCelda('cell24', 'ch24', 'la24')"><label for="ch24" id="la24">27</label><input id="ch24" type = "checkbox" class = "check" value = "J1" style="display: none;"></a></td>
                    <td class = "cell" id="cell25"><a  onclick="colorearCelda('cell25', 'ch25', 'la25')"><label for="ch25" id="la25">27</label><input id="ch25" type = "checkbox" class = "check" value = "V1" style="display: none;"></a></td>
                    <td class = "cell" id="cell26"><a  onclick="colorearCelda('cell26', 'ch26', 'la26')"><label for="ch26" id="la26">27</label><input id="ch26" type = "checkbox" class = "check" value = "L2" style="display: none;"></a></td>
                    <td class = "cell" id="cell27"><a  onclick="colorearCelda('cell27', 'ch27', 'la27')" disabled><label for="ch27" id="la27">27</label><input id="ch27" type = "checkbox" class = "check" value = "M2" style="display: none;"></a></td>
                    <td class = "cell" id="cell28"><a  onclick="colorearCelda('cell28', 'ch28', 'la28')" disabled><label for="ch28" id="la28">27</label><input id="ch28" type = "checkbox" class = "check" value = "I2" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell29"><a  onclick="colorearCelda('cell29', 'ch29', 'la29')"><label for="ch29" id="la29">27</label><input id="ch29" type = "checkbox" class = "check" value = "J2" style="display: none;"></a></td>
                    <td class = "cell" id="cell30"><a  onclick="colorearCelda('cell30', 'ch30', 'la30')"><label for="ch30" id="la30">27</label><input id="ch30" type = "checkbox" class = "check" value = "V2" style="display: none;"></a></td>
                    <td class = "cell" id="cell31"><a  onclick="colorearCelda('cell31', 'ch31', 'la31')"><label for="ch31" id="la31">27</label><input id="ch31" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell32"><a  onclick="colorearCelda('cell32', 'ch32', 'la32')"><label for="ch32" id="la32">27</label><input id="ch32" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell33"><a  onclick="colorearCelda('cell33', 'ch33', 'la33')"><label for="ch33" id="la33">27</label><input id="ch33" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell34"><a  onclick="colorearCelda('cell34', 'ch34', 'la34')" disabled><label for="ch34" id="la34">27</label><input id="ch34" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell35"><a  onclick="colorearCelda('cell35', 'ch35', 'la35')" disabled><label for="ch35" id="la35">27</label><input id="ch35" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell36"><a  onclick="colorearCelda('cell36', 'ch36', 'la36')"><label for="ch36" id="la36">27</label><input id="ch36" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell37"><a  onclick="colorearCelda('cell37', 'ch37', 'la37')"><label for="ch37" id="la37">27</label><input id="ch37" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell38"><a  onclick="colorearCelda('cell38', 'ch38', 'la38')"><label for="ch38" id="la38">27</label><input id="ch38" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell39"><a  onclick="colorearCelda('cell39', 'ch39', 'la39')"><label for="ch39" id="la39">27</label><input id="ch39" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell40"><a  onclick="colorearCelda('cell40', 'ch40', 'la40')"><label for="ch40" id="la40">27</label><input id="ch40" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell41"><a  onclick="colorearCelda('cell41', 'ch41', 'la41')" disabled><label for="ch41" id="la41">27</label><input id="ch41" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell42"><a  onclick="colorearCelda('cell42', 'ch42', 'la42')" disabled><label for="ch42" id="la42">27</label><input id="ch42" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                  </tr>
              </table>
              <br>

              <h2 id="mesSig" style="text-align: center;" display="none"></h2>
                <table class = "table" style="display: none;" id="mesSigT">
                  <tr>
                      <td class = "celltitle">Lunes</td>
                      <td class = "celltitle">Martes</td>
                      <td class = "celltitle">Miércoles</td>
                      <td class = "celltitle">Jueves</td>
                      <td class = "celltitle">Viernes</td>
                      <td class = "celltitle">Sabado</td>
                      <td class = "celltitle">Domingo</td>
                  </tr>
                  <!-- Semanas -->
                  <tr>
                    <td class = "cell" id="cell54"><a  onclick="colorearCelda('cell54', 'ch54', 'la54')"><label  for="ch54" id="la54">27</label><input id="ch54" type = "checkbox" class = "check" value = "L9" style="display: none;"></a></td>
                    <td class = "cell" id="cell55"><a  onclick="colorearCelda('cell55', 'ch55', 'la55')"><label  for="ch55" id="la55">27</label><input id="ch55" type = "checkbox" class = "check" value = "M9" style="display: none;"></a></td>
                    <td class = "cell" id="cell56"><a  onclick="colorearCelda('cell56', 'ch56', 'la56')"><label  for="ch56" id="la56">27</label><input id="ch56" type = "checkbox" class = "check" value = "I9" style="display: none;"></a></td>
                    <td class = "cell" id="cell57"><a  onclick="colorearCelda('cell57', 'ch57', 'la57')"><label  for="ch57" id="la57">27</label><input id="ch57" type = "checkbox" class = "check" value = "J9" style="display: none;"></a></td>
                    <td class = "cell" id="cell58"><a  onclick="colorearCelda('cell58', 'ch58', 'la58')"><label  for="ch58" id="la58">27</label><input id="ch58" type = "checkbox" class = "check" value = "V9" style="display: none;"></a></td>
                    <td class = "cell" id="cell59"><a  onclick="colorearCelda('cell59', 'ch59', 'la59')" disabled><label  for="ch59" id="la59">27</label><input id="ch59" type = "checkbox" class = "check" value = "L10" style="display: none;"></a></td>
                    <td class = "cell" id="cell60"><a  onclick="colorearCelda('cell60', 'ch60', 'la60')" disabled><label  for="ch60" id="la60">27</label><input id="ch60" type = "checkbox" class = "check" value = "M10" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell61"><a  onclick="colorearCelda('cell61', 'ch61', 'la61')"><label  for="ch61" id="la61">27</label><input id="ch61" type = "checkbox" class = "check" value = "I10" style="display: none;"></a></td>
                    <td class = "cell" id="cell62"><a  onclick="colorearCelda('cell62', 'ch62', 'la62')"><label  for="ch62" id="la62">27</label><input id="ch62" type = "checkbox" class = "check" value = "J10" style="display: none;"></a></td>
                    <td class = "cell" id="cell63"><a  onclick="colorearCelda('cell63', 'ch63', 'la63')"><label for="ch63" id="la63">27</label><input id="ch63" type = "checkbox" class = "check" value = "V10" style="display: none;"></a></td>
                    <td class = "cell" id="cell64"><a  onclick="colorearCelda('cell64', 'ch64', 'la64')"><label for="ch64" id="la64">27</label><input id="ch64" type = "checkbox" class = "check" value = "L11" style="display: none;"></a></td>
                    <td class = "cell" id="cell65"><a  onclick="colorearCelda('cell65', 'ch65', 'la65')"><label for="ch65" id="la65">27</label><input id="ch65" type = "checkbox" class = "check" value = "M11" style="display: none;"></a></td>
                    <td class = "cell" id="cell66"><a  onclick="colorearCelda('cell66', 'ch66', 'la66')" disabled><label for="ch66" id="la66">27</label><input id="ch66" type = "checkbox" class = "check" value = "I11" style="display: none;"></a></td>
                    <td class = "cell" id="cell67"><a  onclick="colorearCelda('cell67', 'ch67', 'la67')" disabled><label for="ch67" id="la67">27</label><input id="ch67" type = "checkbox" class = "check" value = "J11" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell68"><a  onclick="colorearCelda('cell68', 'ch68', 'la68')"><label for="ch68" id="la68">27</label><input id="ch68" type = "checkbox" class = "check" value = "V11" style="display: none;"></a></td>
                    <td class = "cell" id="cell69"><a  onclick="colorearCelda('cell69', 'ch69', 'la69')"><label for="ch69" id="la69">27</label><input id="ch69" type = "checkbox" class = "check" value = "L12" style="display: none;"></a></td>
                    <td class = "cell" id="cell70"><a  onclick="colorearCelda('cell70', 'ch70', 'la70')"><label for="ch70" id="la70">27</label><input id="ch70" type = "checkbox" class = "check" value = "M12" style="display: none;"></a></td>
                    <td class = "cell" id="cell71"><a  onclick="colorearCelda('cell71', 'ch71', 'la71')"><label for="ch71" id="la71">27</label><input id="ch71" type = "checkbox" class = "check" value = "I12" style="display: none;"></a></td>
                    <td class = "cell" id="cell72"><a  onclick="colorearCelda('cell72', 'ch72', 'la72')"><label for="ch72" id="la72">27</label><input id="ch72" type = "checkbox" class = "check" value = "J12" style="display: none;"></a></td>
                    <td class = "cell" id="cell73"><a  onclick="colorearCelda('cell73', 'ch73', 'la73')" disabled><label for="ch73" id="la73">27</label><input id="ch73" type = "checkbox" class = "check" value = "V12" style="display: none;"></a></td>
                    <td class = "cell" id="cell74"><a  onclick="colorearCelda('cell74', 'ch74', 'la74')" disabled><label for="ch74" id="la74">27</label><input id="ch74" type = "checkbox" class = "check" value = "L1" style="display: none;"></a></td>                    
                  </tr>
                  <tr>
                    <td class = "cell" id="cell75"><a  onclick="colorearCelda('cell75', 'ch75', 'la75')"><label for="ch75" id="la75">27</label><input id="ch75" type = "checkbox" class = "check" value = "M1" style="display: none;"></a></td>
                    <td class = "cell" id="cell76"><a  onclick="colorearCelda('cell76', 'ch76', 'la76')"><label for="ch76" id="la76">27</label><input id="ch76" type = "checkbox" class = "check" value = "I1" style="display: none;"></a></td>
                    <td class = "cell" id="cell77"><a  onclick="colorearCelda('cell77', 'ch77', 'la77')"><label for="ch77" id="la77">27</label><input id="ch77" type = "checkbox" class = "check" value = "J1" style="display: none;"></a></td>
                    <td class = "cell" id="cell78"><a  onclick="colorearCelda('cell78', 'ch78', 'la78')"><label for="ch78" id="la78">27</label><input id="ch78" type = "checkbox" class = "check" value = "V1" style="display: none;"></a></td>
                    <td class = "cell" id="cell79"><a  onclick="colorearCelda('cell79', 'ch79', 'la79')"><label for="ch79" id="la79">27</label><input id="ch79" type = "checkbox" class = "check" value = "L2" style="display: none;"></a></td>
                    <td class = "cell" id="cell80"><a  onclick="colorearCelda('cell80', 'ch80', 'la80')" disabled><label for="ch80" id="la80">27</label><input id="ch80" type = "checkbox" class = "check" value = "M2" style="display: none;"></a></td>
                    <td class = "cell" id="cell81"><a  onclick="colorearCelda('cell81', 'ch81', 'la81')" disabled><label for="ch81" id="la81">27</label><input id="ch81" type = "checkbox" class = "check" value = "I2" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell82"><a  onclick="colorearCelda('cell82', 'ch82', 'la82')"><label for="ch82" id="la82">27</label><input id="ch82" type = "checkbox" class = "check" value = "J2" style="display: none;"></a></td>
                    <td class = "cell" id="cell83"><a  onclick="colorearCelda('cell83', 'ch83', 'la83')"><label for="ch83" id="la83">27</label><input id="ch83" type = "checkbox" class = "check" value = "V2" style="display: none;"></a></td>
                    <td class = "cell" id="cell84"><a  onclick="colorearCelda('cell84', 'ch84', 'la84')"><label for="ch84" id="la84">27</label><input id="ch84" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell85"><a  onclick="colorearCelda('cell85', 'ch85', 'la85')"><label for="ch85" id="la85">27</label><input id="ch85" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell86"><a  onclick="colorearCelda('cell86', 'ch86', 'la86')"><label for="ch86" id="la86">27</label><input id="ch86" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell87"><a  onclick="colorearCelda('cell87', 'ch87', 'la87')" disabled><label for="ch87" id="la87">27</label><input id="ch87" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell88"><a  onclick="colorearCelda('cell88', 'ch88', 'la88')" disabled><label for="ch88" id="la88">27</label><input id="ch88" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                  </tr>
                  <tr>
                    <td class = "cell" id="cell89"><a  onclick="colorearCelda('cell89', 'ch89', 'la89')"><label for="ch89" id="la89">27</label><input id="ch89" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell90"><a  onclick="colorearCelda('cell90', 'ch90', 'la90')"><label for="ch90" id="la90">27</label><input id="ch90" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell91"><a  onclick="colorearCelda('cell91', 'ch91', 'la91')"><label for="ch91" id="la91">27</label><input id="ch91" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell92"><a  onclick="colorearCelda('cell92', 'ch92', 'la92')"><label for="ch92" id="la92">27</label><input id="ch92" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell93"><a  onclick="colorearCelda('cell93', 'ch93', 'la93')"><label for="ch93" id="la93">27</label><input id="ch93" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                    <td class = "cell" id="cell94"><a  onclick="colorearCelda('cell94', 'ch94', 'la94')" disabled><label for="ch94" id="la94">27</label><input id="ch94" type = "checkbox" class = "check" value = "S2" style="display: none;"></a></td>
                    <td class = "cell" id="cell95"><a  onclick="colorearCelda('cell95', 'ch95', 'la95')" disabled><label for="ch95" id="la95">27</label><input id="ch95" type = "checkbox" class = "check" value = "D2" style="display: none;"></a></td>
                  </tr>
              </table>
              <h2 class="res">Las celdas amarillas corresponden a los días en los que debes seleccionar tus horarios, cuando selecciones tu horario en alguna celda, esta se pintará de color verde indicando que has marcado algún horario disponible esa fecha.
                Si no tuvieras disponibilidad alguno de los días deja la celda en color amarillo. Al terminar pulsa el botón Enviar que se encuentra debajo.
              </h2>
              <h2 class="res">Si deseas consultar tus resultados, comunícate con el alumno a cargo de la investigación Manuel Chávez S. (manuel.chavez2913@alumnos.udg.mx) Muchas gracias!</h2>
                <input type = "text" style="display: none;" name = "diccInvisible" id = "diccInvisible">
                <button type="button" class="botonEnv" style="position: relative; left: 43.8%;" id="Envia" onclick = "enviarHorario()" disabled>Enviar</button><br>

                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" language="javascript" type="text/javascript"></script>
                <!-- <script type="text/javascript">
                  checks = $("input[type='checkbox']")
                  $(function() {
                      checks.click(function(e) {
                          $("#Envia").attr("disabled", !checks.is(":checked"));
                      });
                  });        
              </script> -->

        </form>
    </div>

   <!-- Modal -->
   <div class="oculto" id="menu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Elegir horario</h5>
          <button type="button" class="btn-close" onclick="cerrar()" data-bs-dismiss="oculto" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-center align-items-center">
          <table class = "table-horas">
            <span id="celdaSel" style="display: none;"></span>
            <span id="dia" style="display: none;"></span>
            <span id="mes" style="display: none;"></span>
            <label for="dia" id="diasel"></label>
            <tr>
              <td class = "celltitle2"><a><label for="ch44" id="la44">9:00 a.m.</label><input id="ch44" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch45" id="la45">10:00 a.m.</label><input id="ch45" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch46" id="la46">11:00 a.m.</label><input id="ch46" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch47" id="la47">12:00 p.m.</label><input id="ch47" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch48" id="la48">1:00 p.m.</label><input id="ch48" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch49" id="la49">2:00 p.m.</label><input id="ch49" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch50" id="la50">3:00 p.m.</label><input id="ch50" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch51" id="la51">4:00 p.m.</label><input id="ch51" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch52" id="la52">5:00 p.m.</label><input id="ch52" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
            <tr>
              <td class = "celltitle2"><a><label for="ch53" id="la53">6:00 p.m.</label><input id="ch53" type = "checkbox" class = "check" value = "D2" ></a></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="cerrar()" data-bs-dismiss="oculto">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="guardarhorario()">Guardar horarios</button>
        </div>
      </div>
    </div>
  </div>

    <!-- <script src = "/static/js/resultados.js"></script> -->
    <script src = "{{ url_for('static', filename='js/resultados.js') }}"></script>
</body>
</html>